
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #181818;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 310px;
    height: 300px;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader::before{
    content: "";
    background-image: conic-gradient(
        #e7eb0a 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 2s linear infinite;
}
.loader::after{
    content: url(snek.png);
    width: 300px;
    height: 290px;
    background: #101010;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.start {
  width: 400px;
  height: 400px;
  margin-top: 50px;
  transform: translate(-50%, -50%);
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #e7eb0a;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: rgba(13, 7, 7, 0.48);
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #064209;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: rgb(204, 199, 199);
  font-size: 18px;
  font-weight: 100;
}